/* Modal.module.css */
.overlay {
  position: fixed;
  z-index: var(--z-overlay);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: baseline;
  justify-content: center;
  padding: calc(var(--header-height) + var(--p5)) var(--p3) var(--p5) var(--p3);
  animation: fadeIn 0.2s ease-in-out;
  background-color: var(--offsetblack2);
}

.modal {
  position: relative;
  z-index: var(--z-modal);
  display: flex;
  width: 100%;
  max-width: 440px;
  height: auto;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--grey9);
  border-radius: var(--br3);
  animation: slideIn 0.2s ease-in-out;
  background-color: var(--black1);
  box-shadow: var(--bs1);
  overflow-y:hidden;
}

.modal:focus-within {
  border-color: var(--grey10);
  box-shadow: var(--bs2);
  transition: box-shadow 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.modal-header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-left: var(--p5);
  color: var(--white3);

  /* position: absolute; */
  /* top: 0; */
  /* right: 0; */
}

.modal-header button {
  padding-right: .825rem;
  padding-left: .825rem;
  border-top: none;
  border-right: none;
}

.modal-content {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  padding: var(--p3);
  overflow-y: scroll;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-25px);
  }

  to {
    transform: translateY(0);
  }
}

@media screen and (max-height: 640px) {
  .overlay {
    /* padding: var(--p5) var(--p3) var(--p5) var(--p3); */
    padding-top: var(--p5);
  }

  .modal {
    max-height: 100%;
  }
}