.form {
  display: flex;
  width: 100%;
  min-width: 95%;
  height: 100%;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
  padding: 0 var(--p2) var(--p3) var(--p5);
  animation: fade-in 150ms ease-in-out;
}

.form[data-is-submitting='true'] {
  pointer-events: none;
  user-select: none;
  filter: grayscale(80%) contrast(105%);
}

.server-message {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 80px;
  background: var(--black1);
  display:flex;
  align-items:center;
  justify-content: center;
  color: var(--invalid1);
  font-size: .9rem;
  padding: var(--p3);
  z-index: 100;
}

.auth {
  width: 210px !important;
  color: var(--grey4) !important;
  display:grid !important;
  grid-template-columns: 1fr 80%;
  align-items: center;
  justify-content: flex-start;
  padding: 0 !important;
}

.auth span:first-child{
  width: 100%;
  text-align: end;
  padding: .25rem;
}

.auth span:last-child {
  text-align: start;
  padding-left: .75rem;
}

.disabled {
  position: relative;
  opacity: .7;
  pointer-events: none;
  user-select: none;
}

.disabled * {
  pointer-events: none;
  user-select: none;
}

.disabled input:not([type="checkbox"]) {
  position: relative;
  animation: skeleton-loading 8s ease-in-out infinite;
  background-color: transparent !important;
  background-image: var(--linear2) !important;
  background-size: 400% 100%;
  color: transparent !important;
  pointer-events: none !important;
  user-select: none !important;
}

.fieldset {
  position: relative;
  display: flex;
  min-width: 100%;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: .35rem 0;
}

.fieldset[data-fieldset='submit'] {
  flex-direction:row;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.submit {
  width: 110px !important;
  font-size: .85rem !important;
}

.submit:first-child {
  margin-right: var(--p4);
  background-image: var(--linear-share1);
}

.form-error {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  width: 100%;
  height: 100%;
  min-height: 300px;
  font-size: .9rem;
  color: var(--grey4);
  padding: var(--p3);
  line-height: 1.5;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}