.pass-reveal {
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
  display:flex;
  width: 2.25rem;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 0 var(--br1) var(--br1) 0 !important;
}

.pass-reveal svg {
  width: 1.25rem;
  height: 1.25rem;
  stroke: var(--grey4);
}

.pass-reveal:hover {
  background-color: var(--grey9) !important;
}

.pass-reveal:hover svg {
  fill: transparent !important;
  stroke: var(--grey6) !important;
}

.pass-reveal:focus-visible {
  background-color: var(--grey9) !important;
  outline: none !important;
}
